# Word2Num

<div class="alert alert-info">

This tutorial is available as an IPython notebook at [Malaya/example/word2num](https://github.com/huseinzol05/Malaya/tree/master/example/word2num).
    
</div>

In [1]:
import malaya

```python
def word2num(string):
    """
    Translate from string to number, eg 'kesepuluh' -> 10.

    Parameters
    ----------
    string: str

    Returns
    -------
    result: int / float
    """
```

In [3]:
malaya.word2num.word2num('dua belas')

12

In [4]:
malaya.word2num.word2num('kesebelas')

11

In [6]:
malaya.word2num.word2num('kesebelas')

11

In [5]:
malaya.word2num.word2num('negatif kesebelas')

-11

In [7]:
malaya.word2num.word2num('seratus dua puluh tiga juta empat ratus lima puluh enam ribu tujuh ratus lapan puluh sembilan')

123456789

In [8]:
malaya.word2num.word2num('negatif seratus dua puluh tiga juta empat ratus lima puluh enam ribu tujuh ratus lapan puluh sembilan')

-123456789

In [9]:
malaya.word2num.word2num('negatif satu juta dua ratus tiga puluh empat ribu lima ratus enam puluh tujuh perpuluhan lapan sembilan')

-1234567.89