# Num2Word

<div class="alert alert-info">

This tutorial is available as an IPython notebook at [Malaya/example/num2word](https://github.com/huseinzol05/Malaya/tree/master/example/num2word).
    
</div>

In [3]:
import malaya

/Users/huseinzolkepli/Documents/Malaya/malaya/preprocessing.py:259: FutureWarning: Possible nested set at position 2289
  self.tok = re.compile(r'({})'.format('|'.join(pipeline)))

### To cardinal

```python
def to_cardinal(number):
    """
    Translate from number input to cardinal text representation

    Parameters
    ----------
    number: real number

    Returns
    -------
    result: str
        cardinal representation
    """
```

In [4]:
malaya.num2word.to_cardinal(123456789)

'seratus dua puluh tiga juta empat ratus lima puluh enam ribu tujuh ratus lapan puluh sembilan'

In [5]:
malaya.num2word.to_cardinal(10)

'sepuluh'

In [6]:
malaya.num2word.to_cardinal(12)

'dua belas'

In [7]:
malaya.num2word.to_cardinal(-1234567.89)

'negatif satu juta dua ratus tiga puluh empat ribu lima ratus enam puluh tujuh perpuluhan lapan sembilan'

### To ordinal

```python
def to_ordinal(number):
    """
    Translate from number input to ordinal text representation

    Parameters
    ----------
    number: real number

    Returns
    -------
    result: str
        ordinal representation
    """
```

In [8]:
malaya.num2word.to_ordinal(1)

'pertama'

In [9]:
malaya.num2word.to_cardinal(1)

'satu'

In [10]:
malaya.num2word.to_ordinal(10)

'kesepuluh'

In [11]:
malaya.num2word.to_ordinal(12)

'kedua belas'

In [12]:
malaya.num2word.to_cardinal(-123456789)

'negatif seratus dua puluh tiga juta empat ratus lima puluh enam ribu tujuh ratus lapan puluh sembilan'